<template>
    <div>
        <form v-on:submit="saveForm()">
            <div id="message">
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Имя</label>
                    <input type="text" v-model="order.name" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Номер телефона</label>
                    <input type="text" v-model="order.phone" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Название тарифа</label>
                    <select type="text" v-model="order.tariff_id" class="form-control" v-on:change="setDatepicker">
                        <option v-for="tariff in tariffs" v-bind:value="tariff.id">{{ tariff.title }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">День доставки</label>
                    <input type="text" id="deliveryDay" v-model="order.delivery_day" class="form-control delivery-day" data-position="right top" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Адрес</label>
                    <input type="text" v-model="order.address" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <button class="btn btn-success">Создать</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                tariffs : [],
                order: {
                    name: '',
                    phone: '',
                    tariff_id: '',
                    delivery_day: '',
                    address: '',
                }
            }
        },
        mounted() {
            let app = this;
            axios.get('/api/v1/orders/create')
                .then(function (resp) {
                    app.tariffs = resp.data.tariffs;
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        methods: {
            saveForm() {
                hideMessage();
                event.preventDefault();
                let app = this;
                let newOrder = app.order;
                axios.post('/api/v1/orders', newOrder)
                    .then(function (resp) {
                        console.log("Заказ сохранён", resp);
                        showMessage('success', resp.data);
                    })
                    .catch(err => {
                        showErrors(err.response.data.errors);
                    });
            },
            setDatepicker() {
                let app = this;
                let disabledDays = this.tariffs[this.order.tariff_id]['days'];
                let datepicker = $('.delivery-day').datepicker({
                    onRenderCell: function (date, cellType) {
                        if (cellType === 'day') {
                            let day = date.getDay(),
                                isDisabled = disabledDays.indexOf(day) != -1;
                            return {
                                disabled: isDisabled
                            }
                        }
                    },
                    autoClose: true,
                    minDate: new Date(),
                    startDate: new Date(2020, 8, 9)
                }).data('datepicker');

                let currentWeekday = new Date().getDay();
                let countDays = 0;
                let currentDate = new Date();

                while ($.inArray(currentWeekday, disabledDays) > -1){
                    if (++currentWeekday > 6) {
                        currentWeekday = 0;
                    }
                    countDays++;
                }

                currentDate.setDate(currentDate.getDate() + countDays);
                app.order.delivery_day = currentDate.toLocaleDateString('ru');
                datepicker.selectDate(currentDate);
            },
        }
    }

    function showMessage(type, message)
    {
        $('#message').html('<div class="alert alert-' + type + '" role="alert">' + message + '</div>');
    }

    function showErrors(errors)
    {
        let html = '<div class="alert alert-danger" role="alert">';
        let messages = '';
        for (let attribute in errors) {
            for (let index in errors[attribute]) {
                messages += '<div>' + errors[attribute][index] + '</div>';
            }
        }
        html += messages + '</div>';

        $('#message').html(html);
    }

    function hideMessage()
    {
        $('#message').empty();
    }
</script>
